pkgbase = chromium-extension-keepassxc-browser
	pkgdesc = KeePassXC Browser Integration - chromium extension
	pkgver = 1.9.0.3
	pkgrel = 1
	url = https://github.com/keepassxreboot/keepassxc-browser
	arch = any
	license = GPL3
	makedepends = openssl
	makedepends = jq
	makedepends = unzip
	depends = chromium
	noextract = keepassxc-browser-1.9.0.3::https://github.com/keepassxreboot/keepassxc-browser/releases/download/1.9.0.3/keepassxc-browser_1.9.0.3_chromium.zip
	source = keepassxc-browser-1.9.0.3.zip::https://github.com/keepassxreboot/keepassxc-browser/releases/download/1.9.0.3/keepassxc-browser_1.9.0.3_chromium.zip
	source = keepassxc-browser.pem
	sha256sums = 5c3da230bc45e9a3caffc65faa314998f5f61c68662839abfdb14b1d326bc92f
	sha256sums = b3fe31d0cc35b79f9b64f18e792de6b2be1fb8a94bc4d1ce8e82428faf3e35df

pkgname = chromium-extension-keepassxc-browser
