pkgbase = chromium-extension-keepassxc-browser
	pkgdesc = KeePassXC Browser Integration - chromium extension
	pkgver = 1.9.0.5
	pkgrel = 1
	url = https://github.com/keepassxreboot/keepassxc-browser
	arch = any
	license = GPL3
	makedepends = openssl
	makedepends = jq
	makedepends = unzip
	depends = chromium
	noextract = keepassxc-browser-1.9.0.5::https://github.com/keepassxreboot/keepassxc-browser/releases/download/1.9.0.5/keepassxc-browser_1.9.0.5_chromium.zip
	source = keepassxc-browser-1.9.0.5.zip::https://github.com/keepassxreboot/keepassxc-browser/releases/download/1.9.0.5/keepassxc-browser_1.9.0.5_chromium.zip
	source = keepassxc-browser.pem
	sha256sums = f9961a20bbbbde278e8f78f5c48bbc5cffbbd1e09e01be22f01622d32335ead0
	sha256sums = b3fe31d0cc35b79f9b64f18e792de6b2be1fb8a94bc4d1ce8e82428faf3e35df

pkgname = chromium-extension-keepassxc-browser
